
  html,
  body {
    font-family:Courier, monospace;
    text-align:center;
    min-width:260px;
    background-color: #B7AAB7;
  
      }
/*------------------------------------------------------------------------ */
 header, footer {
    display: flex;
    flex-direction: row;
  }
/*------------------------------------------------------------------------ */
header .headline {
    display: flex;
  flex-direction: column;
    margin-left: 0px;
    }
/*------------------------------------------------------------------------ */
footer .details {
    display: flex;
  flex-direction: column;
    margin-left: 0px;
    }

/*------------------------------------------------------------------------ */
header .logo-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
/*--------------------hover link---------------------------------------------------- */
a:hover {
    animation-name: color;
  font-size: 16px;
   animation-duration: 500ms;
   color:#EBE3EF;}
/*------------------------------------------------------------------------ */
 header h1,h2 {
    display: flex;
     }
/*--------------center title---------------------------------------------------------- */
  #title1{
    margin:5px ;
    margin-left:20px ;
    font-family: Impact, fantasy;
    font-size: 30px;
     text-align:left;
     font-weight: bold;
         }
 #title2{
    margin:5px ;
    margin-left:20px ;
    font-family: Snell Roundhand, cursive;
    font-size: 15px;
     text-align:left;
             }
#title3  {
  font-family: Impact, fantasy;
  font-size: 25px;
  color:#430545;
  text-align:center;
  font-weight: bold;
}
/*------------------------------------------------------------------------ */
#main{
  margin:30px auto;
  padding:15px;
  border:0px solid;
  border-radius:5px;
  background:#776C7C;
}
/*------------------------------------------------------------------------ */
#img-div{
  margin:2px auto;
  margin-top:20px;
  width:100%;
border-radius:40px;
  border:0px solid ;
  background:#585859;
}
/*------------------------------------------------------------------------ */
#image{
  opacity: 0.8;
border-radius:20px;
   width: 1000px;
    height: 250px;
   }
/*----------table postion-------------------------------------------------------------- */
#TablPos{
   margin-top:10px;
  margin-left:520px;
}
/*--------------------------article first name---------------------------------------------- */
p:first-letter {
font-size : 200%;
  font-weight: bold;
/*------------------------------------------------------------------------ */ 	
